.article {
	margin: 0 auto;
	padding: 0 1.5rem;
	width: 100%;
	max-width: 768px;
}

.header {
	margin: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.technologies {
	width: max-content;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--primary-color);
}

.title {
	margin: 1rem 0;
	font-size: var(--blog-title);
	letter-spacing: -2.4px;
	color: var(--white);
}

.date {
	margin-bottom: 3rem;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -0.2px;
	color: var(--text-gray);
}

.image {
	position: relative !important;
	object-fit: contain;
	border-radius: 1rem;
}

@media (min-width: 768px) {
	.date {
		font-size: 18px;
	}
}
