.nav {
	position: relative;
}

.navContent {
	padding: 0.6rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	transform: translateY(0%);
	z-index: 50;
}

.nav[data-home='false'] .navContent {
	top: 0;
	background-color: rgba(var(--bg-primary-color), 0.8);
	backdrop-filter: saturate(180%) blur(5px);
	border-bottom: 1px solid var(--bg-secondary-color);
	animation: slideDown 0.4s ease-in-out forwards;
}

.nav[data-home='true'] .navContent {
	bottom: 0;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}

.navContent .menuList {
	display: none;
}

.rightSide {
	display: none;
}

.logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 12px;
	box-shadow: 0px 2px 8px -1px #0000001a;
	overflow: hidden;
	cursor: pointer;
	z-index: 20;
	transform: translateZ(0);
	transition: filter 0.3s;
}

.logo::before {
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	background: conic-gradient(
		rgba(var(--text-primary), 0.502),
		rgba(var(--text-primary), 0.251),
		rgba(var(--text-primary), 0.188),
		rgba(var(--text-primary), 0.125),
		rgba(var(--text-primary), 0.063),
		rgba(var(--text-primary), 0.063),
		rgba(var(--text-primary), 0.502)
	);
	z-index: -1;
	animation: 6s logo_animation linear infinite;
}

.nav[data-home='true'] .navContent .logo::before {
	background: conic-gradient(
		rgba(255, 255, 255, 0.502),
		rgba(255, 255, 255, 0.251),
		rgba(255, 255, 255, 0.188),
		rgba(255, 255, 255, 0.125),
		rgba(255, 255, 255, 0.063),
		rgba(255, 255, 255, 0.063),
		rgba(255, 255, 255, 0.502)
	);
}

.logo::after {
	content: '';
	padding: 1px;
	position: absolute;
	inset: 0;
	border-radius: 12px;
	background: var(--main);
	background-clip: content-box;
	z-index: -1;
}

.logoContent {
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: 700;
	filter: drop-shadow(0 0 0.3rem #00000070);
}

@keyframes logo_animation {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.menuItem {
	transition: 0.1s;
}

.menuItem[data-active='true'] {
	font-weight: 700;
	color: var(--primary-color) !important;
	pointer-events: none;
}

.contactLink {
	padding: 0.5rem 1rem;
	display: block;
	width: max-content;
	border-radius: 2rem;
	background-color: var(--bg-secondary-color);
	box-shadow: var(--box-shadow);
	transition: filter 0.3s;
}

.contactLink[data-active='true'] {
	/* font-weight: 600; */
	color: #ffffff;
	background: var(--primary-color);
	pointer-events: none;
}

.logo:hover,
.contactLink:hover,
.menuItem:hover {
	filter: drop-shadow(0 0 0.3rem rgba(var(--text-primary), 0.439));
}

.nav[data-home='true'] .navContent .logo:hover,
.nav[data-home='true'] .navContent .contactLink:hover,
.nav[data-home='true'] .navContent .menuItem:hover {
	filter: drop-shadow(0 0 0.3rem rgba(255, 255, 255, 0.439));
}

.nav[data-home='true'] .navContent .menuList {
	color: #ffffff;
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	height: 2.5rem;
	width: 2.5rem;
	border: none;
	background: transparent;
	cursor: pointer;
	z-index: 60;
}

.burger span {
	width: 100%;
	height: 0.2rem;
	border-radius: 1rem;
	background: var(--main);
	transition: 0.5s;
}

.burger[data-expand='true'] > span {
	background: var(--white);
}

.nav[data-home='true'] .burger[data-expand='true'] > span {
	background: #ffffff;
}

.burger[data-expand='true'] > span:nth-child(1) {
	transform: rotate(-45deg) translateY(0.5rem) translateX(-0.5rem);
}

.burger[data-expand='true'] > span:nth-child(2) {
	transform: scaleX(0);
}

.burger[data-expand='true'] > span:nth-child(3) {
	transform: rotate(45deg) translateY(-0.6rem) translateX(-0.6rem);
}

/* MOBILE */
.opacLayer {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	background: transparent;
	pointer-events: none;
	visibility: hidden;
	z-index: 60;
	transition: 0.5s;
}

.opacLayer[data-expand='true'] {
	pointer-events: all;
	visibility: visible;
}

.mobileMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: calc(100vw - 30%);
	background: rgba(var(--bg-primary-color), 0.5);
	backdrop-filter: blur(15px);
	transform: translateX(-100%);
	z-index: 100;
	transition: transform 0.3s;
}

.mobileMenu[data-expand='true'] {
	transform: translateX(0);
}

.mobileMenu > .logo {
	position: absolute;
	top: 10px;
	left: 25px;
	cursor: default;
}

.menuList {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	font-size: 20px;
	line-height: 121%;
	list-style-type: none;
}

.navMobile .contactLink {
	margin-top: 3rem;
}

.navMobile .options {
	display: inline-flex;
	gap: 0.5rem;
	position: absolute;
	bottom: 100px;
}

/* MD */
@media (min-width: 768px) {
	.nav[data-home='false'] .navContent {
		padding: 0.8rem 2rem;
	}
}

/* LG */
@media (min-width: 1024px) {
	.navContent .menuList {
		display: flex;
		flex-direction: row;
	}

	.navContent .contactLink {
		display: block;
	}

	.navMobile {
		display: none;
	}

	.burger {
		display: none;
	}

	.rightSide {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
}
