.nav {
	display: flex;
	width: 100%;
	top: 0;
	border-bottom: 1px solid var(--bg-secondary);
}

.fixed {
	padding: 0.6rem 1.5rem;
	align-items: center;
	position: fixed;
	background-color: rgba(29, 29, 32, 0.8);
	backdrop-filter: saturate(180%) blur(5px);
	z-index: 100;
	transform: translateY(0%);
}

.absolute {
	padding: 1.5rem;
	align-items: flex-end;
	position: absolute;
	height: 100vh;
	background-color: transparent;
	backdrop-filter: none;
	z-index: auto;
}

.fixed.slideDown {
	animation: slideDown 0.4s ease-in-out forwards;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}

.blackBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.5s;
	pointer-events: none;
}

.blackBackground.active {
	opacity: 0.6;
	pointer-events: all;
}

.menu {
	padding: 0.5rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: calc(100vw - 30%);
	background: var(--bg-dark);
	transform: translateX(-100%);
	transition: transform 0.3s;
	z-index: 20;
}

.menu > .logo {
	align-self: flex-start;
}

.menu.active {
	transform: translateX(0);
}

.menuItems {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	font-size: 20px;
	font-weight: 600;
	list-style-type: none;
}

.menuItemsLink {
	opacity: 0.7;
	transition: 0.1s;
}

.menuItemsLink.active:hover {
	filter: none;
}

.menuItemsLink:hover {
	opacity: 1;
	filter: drop-shadow(0 0 0.3rem #ffffff70);
}

.menuItemsLink:active {
	opacity: 0.5;
}

.contactLink {
	font-size: 20px;
	font-weight: 600;
	opacity: 1;
}

.menuItemsLink.active {
	color: var(--primary-color);
	opacity: 1;
}

.contactLink {
	/* margin-top: 2rem; */
	padding: 0.5rem 1rem;
	display: block;
	width: max-content;
	font-size: 1rem;
	background-color: var(--bg-secondary);
	border-radius: 2rem;
	z-index: 20;
}

.nav > .contactLink {
	display: none;
}

.contactLink:hover {
	background: var(--main);
	filter: drop-shadow(0 0 0.3rem #ffffff70);
}

.contactLink.active {
	color: #ffffff;
}

.contactLink:last-child {
	margin-top: 2rem;
}

.logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
	transform: translateZ(0);
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 2px 8px -1px #0000001a;
	transition: filter 0.3s;
	z-index: 20;
}

.logo:hover {
	filter: drop-shadow(0 0 0.3rem #ffffff70);
}

.logo::before {
	content: '';
	position: absolute;
	z-index: -1;
	animation: 6s page_rotate linear infinite;
	width: 200%;
	height: 200%;
	background: conic-gradient(
		#ffffff80,
		#ffffff40,
		#ffffff30,
		#ffffff20,
		#ffffff10,
		#ffffff10,
		#ffffff80
	);
}

.logo::after {
	content: '';
	position: absolute;
	z-index: -1;
	inset: 0;
	padding: 1px;
	border-radius: 12px;
	/* background: linear-gradient(
		to bottom right,
		rgba(2, 13, 46, 1),
		rgba(2, 5, 19, 1)
	); */
	background: var(--main);
	background-clip: content-box;
}

.logoContent {
	color: #ffffff;
	font-size: 1.6rem;
	font-weight: 700;
	/* filter: drop-shadow(0 0 0.3rem #ffffff70); */
	/* color: transparent; */
}

@keyframes page_rotate {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* .logo {
	position: relative;
	width: 3rem;
	height: 3rem;
	background: var(--main);
	cursor: pointer;
	z-index: 10;
	transition: transform 0.4s;
} */

/* .logo:hover {
	transform: rotate(20deg) scale(1.1);
} */

/* .logo p {
	position: absolute;
	bottom: 0;
	right: 4px;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: -1px;
	color: var(--bg-dark);
} */

.burger {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	position: relative;
	height: 2.5rem;
	width: 2.5rem;
	background: transparent;
	border: none;
	cursor: pointer;
	z-index: 10;
}

.burger span {
	width: 100%;
	height: 0.2rem;
	border-radius: 1rem;
	background: var(--main);
	transition: 0.5s;
}

.burger.active span {
	background: #ffffff;
}

.burger.active span:nth-child(1) {
	transform: rotate(-45deg) translateY(0.5rem) translateX(-0.5rem);
}

.burger.active span:nth-child(2) {
	transform: scaleX(0);
}

.burger.active span:nth-child(3) {
	transform: rotate(45deg) translateY(-0.6rem) translateX(-0.6rem);
}

/* MEDIUM */
@media (min-width: 768px) {
	.nav {
		padding: 0.8rem 2rem;
		justify-content: space-between;
	}

	.menu {
		padding: 0;
		position: unset;
		width: auto;
		height: auto;
		background: transparent;
		transform: none;
		transition: none;
	}

	.menu > .logo {
		display: none;
	}

	.menu > .contactLink {
		display: none;
	}

	.nav > .contactLink {
		display: block;
	}

	.menuItems {
		margin-top: 0;
		flex-direction: row;
		gap: 3rem;
	}

	.menuItemsLink {
		position: relative;
	}

	.burger {
		display: none;
	}
}

/* MD */
@media (min-width: 768px) {
}

/* LG */
@media (min-width: 1024px) {
}

/* XL */
@media (min-width: 1280px) {
}

/* 2XL */
@media (min-width: 1536px) {
}
