.showcaseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: wheat;
  overflow: hidden;
}

.imgWrapper {
  width: 15rem;
}

.imgWrapper img {
  width: 100%;
  border-radius: 0.7rem;
}

.button:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.button:nth-child(2) {
  position: absolute;
  top: 0;
  left: 30px;
}

/* MD */
@media (min-width: 768px) {

}

/* LG */
@media (min-width: 1024px) {
  
}

/* XL */
@media (min-width: 1280px) {

}

/* 2XL */
@media (min-width: 1536px) {
  
}