.slider {
  margin-bottom: 2rem;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  cursor: grab;
  overflow: hidden;
}

.inner {
  display: flex;
  gap: 2rem;
}

.image {
  /* height: 10rem; */
  min-width: calc(100vw - 10px);
  height: calc(56.25vw - 10px);
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* border-radius: 1rem; */
  pointer-events: none;
}

/* MD */
@media (min-width: 768px) {
  /* .image {
    height: 12rem;
    min-width: 20rem;
  } */
}

/* LG */
@media (min-width: 1024px) {
  .image {
    /* height: 10rem; */
    min-width: calc(80vw - 10px);
    height: calc(36.25vw - 10px);
  }
}

/* XL */
@media (min-width: 1280px) {
  /* .image {
    height: 15rem;
    min-width: 30rem;
  } */
}

/* 2XL */
@media (min-width: 1536px) {
  
}