.title {
	margin-top: 2rem;
	font-size: var(--card-desc-font-size);
	font-weight: 400;
	color: #bdbdbd;
}

.description {
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: var(--project-desc);
	color: white;
	letter-spacing: -3px;
}

.link {
	padding: 0.5rem 1rem;
	display: inline-flex;
	gap: 0.4rem;
	font-size: 1rem;
	font-weight: 600;
	background: var(--bg-secondary);
	border: none;
	opacity: 1;
	transition: opacity 0.3s;
	cursor: pointer;
}

.link img {
	width: 1.25rem;
	height: 1.25rem;
}

.link:hover {
	opacity: 0.7;
}

.stackUrl {
	font-weight: 700;
	color: var(--primary-color);
}

.stackUrl:hover {
	color: #ffffff;
}

.backButton {
	margin: 4rem auto;
	padding: 2rem 5rem;
	display: block;
	position: relative;
	width: max-content;
	font-size: var(--project-desc);
	letter-spacing: -3px;
	background-color: var(--bg-secondary);
	border-radius: var(--card-border-radius);
}

.backButton:hover {
	color: var(--primary-color);
}

.backButton::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-color);
	border-radius: var(--card-border-radius);
	filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
	z-index: -1;
}

.backButton:hover::after {
	opacity: 0.7;
}
