.breadcrumb {
	padding: 1.3rem 0;
	margin-top: 76.2px;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: -0.8px;
	background-color: var(--bg-secondary);
}

.link {
	color: var(--secondary-color);
}

.link:hover {
	text-decoration: underline;
}

.link:active {
	opacity: 0.7;
}

.active {
	font-weight: 400;
	color: #ffffff;
}

@media (min-width: 768px) {
	.breadcrumb {
		margin-top: 82.6px;
	}
}
