.title {
  width: max-content;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.titleMain {
  display: inline;
  font-size: 2.2rem;
  font-family: 'Architects Daughter', cursive;
  font-weight: 800;
  color: var(--text-blue);
}

@media (min-width: 768px) {
  .titleMain {
    font-size: 3rem;
  }
}