.technologies {
	margin-bottom: 2.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	text-transform: uppercase;
}

.button {
	padding: 0.5rem 1rem;
	display: inline-flex;
	align-items: center;
	gap: 0.4rem;
	font-size: 1rem;
	font-weight: 600;
	background: var(--bg-secondary-color);
	border: none;
	opacity: 1;
	transition: opacity 0.3s;
	cursor: pointer;
}

.button > p {
	display: none;
}

.button img {
	width: 2rem;
	height: 2rem;
	filter: drop-shadow(0 0 0.3rem #00000070);
}

.button[data-active='true'] {
	background: var(--main) !important;
	pointer-events: none;
}

.button:hover {
	opacity: 0.7;
}

.button[data-visible='true'] {
	text-transform: uppercase;
	color: #fe315c;
	visibility: visible;
}

.button[data-visible='false'] {
	visibility: hidden;
}

@media (min-width: 768px) {
	.button img {
		width: 1.5rem;
		height: 1.5rem;
	}

	.button > p {
		display: block;
		filter: drop-shadow(0 0 0.3rem #00000070);
	}
}
