.gridCards {
  display: grid;
  grid-template: 1fr;
  gap: 1.5rem;
}

.card {
  position: relative;
}

.card svg {
  width: 40px;
  height: 40px;
  color: gray;
}

.card:hover svg {
  color: var(--text-blue);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--theme-primary),
    var(--theme-secondary)
  );
  border-radius: 1rem;
  filter: blur(5px);
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}

.card::after {
  filter: blur(5px);
}

.card:hover .content img,
.card:focus .content img {
  filter: brightness(100%);
}

.card:hover::after,
.card:focus::after {
  opacity: 0.6;
}

.content {
  background-color: var(--bg-secondary);
  border-radius: 1rem;
}

.content img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  filter: brightness(60%);
  transition: 0.5s;
}

.type {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: gray;
}

.desc {
  padding: 1.5rem;
}

.name {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name h1 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .gridCards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
  .gridCards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
