.gridCards {
  display: grid;
  grid-template: 1fr;
  gap: 1.5rem;
}

.card {
  position: relative;
}

.card svg {
  width: 40px;
  height: 40px;
  color: gray;
}

.card:hover svg {
  color: var(--text-blue);
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, var(--theme-primary), var(--theme-secondary));
  border-radius: 1rem;
  filter: blur(5px);
  opacity: 0;
  z-index: -1;
  transition: 1s;
}

.card::after {
  filter: blur(10px);
}

.card:hover .content img,
.card:focus .content img {
  filter: grayscale(0) brightness(100%);  
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  opacity: 1;
}

.content {
  background-color: var(--bg-secondary);
  border-radius: 1rem;
}

.content img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  filter: grayscale(100%) brightness(60%);
  transition: 1s;
}

.type {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: gray;
}

.desc {
  padding: 1.5rem;
}

.name {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name h1 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .gridCards {
    grid-template-columns: 1fr 1fr;
  }
}

/* LG */
@media (min-width: 1024px) {

}

@media (min-width: 1280px) {
  .gridCards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}