.breadcrumb {
  padding: 5.5rem 0 1.3rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--bg-secondary);
}

.link {
  color: rgb(93, 93, 255);
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: var(--text-color);
}


@media (min-width: 768px) {
  .breadcrumb {
    padding-top: 6rem;
  }
}