.breadcrumb {
  margin-top: 68.2px;
  padding: 1.3rem 0;
  font-size: 0.9rem;
  font-weight: 700;
  background-color: var(--bg-secondary);
}

.link {
  color: rgb(93, 93, 255);
}

.link:hover {
  text-decoration: underline;
}

.active {
  font-weight: 500;
  color: var(--text-color);
}


@media (min-width: 768px) {
  .breadcrumb {
    margin-top: 74.6px;
  }
}