.content {
	margin-top: 6rem;
	text-align: center;
}

.content h1 {
	font-size: 150px;
	font-weight: 900;
	background: var(--main);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.content h1::selection {
	-webkit-text-fill-color: var(--black);
}

.content p {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: var(--card-title-font-size);
	letter-spacing: -1px;
	color: var(--text-gray);
}

/* TODO: add transition properties */
.backButton {
	margin: 1.5rem auto;
	padding: 0.4rem 0.8rem;
	display: block;
	width: max-content;
	font-size: 1rem;
	border: 1px solid var(--white);
	border-radius: 2rem;
	transition: color 0.3s, border-color 0.3s;
}

.backButton:hover {
	color: var(--primary-color);
	border-color: var(--primary-color);
}
