.about {
	display: grid;
	gap: 1.5rem;
}

.card {
	padding: var(--card-padding);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	min-height: 305px;
	background: var(--bg-secondary-color);
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
}

.bigTitle {
	font-size: var(--contact-title);
	margin-bottom: 1rem;
}

.card:nth-child(1) {
	background: url('../assets/aboutImage.png');
	background-size: cover;
	background-position: top;
	background-color: var(--bg-secondary-color);
}

.card ~ a {
	cursor: pointer;
}

.card ~ a::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-color);
	border-radius: var(--card-border-radius);
	filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
	z-index: -1;
}

.card ~ a:hover::after {
	opacity: 0.7;
}

.title {
	margin-bottom: 0.5rem;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.8px;
}

.description {
	font-size: var(--card-desc-font-size);
	color: var(--text-secondary);
	letter-spacing: -0.8px;
}

.card:nth-child(4) {
	background-image: url('../assets/aboutProjects.png');
	background-size: 639px auto;
	background-repeat: no-repeat;
}

.card:nth-child(4) img {
	margin-top: -2rem;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	pointer-events: none;
}

.card:nth-child(4) p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: -0.3px;
	font-weight: 600;
	color: var(--text-secondary);
}

.card:nth-child(5) {
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
}

.card:nth-child(5) .linkedIn {
	margin-bottom: 0.5rem;
	align-self: center;
	justify-self: center;
}

.card:nth-child(5) .linkedIn svg {
	width: 125px;
	height: auto;
	color: var(--primary-color);
}

.card:nth-child(5) svg {
	width: 40px;
	height: 40px;
	color: gray;
}

.card:nth-child(5):hover svg {
	color: var(--primary-color);
}

.card:nth-child(6) .getTouch {
	font-size: var(--about-getTouch);
	color: var(--primary-color);
	font-weight: 700;
	letter-spacing: -4px;
}

.card:nth-child(7) svg {
	width: 70px;
	height: 70px;
	color: var(--secondary-color);
}

.card:nth-child(7) p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: -0.3px;
	font-weight: 600;
	color: var(--text-secondary);
}

.card:nth-child(7) .title {
	margin-bottom: 0;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.flex h2 {
	margin-bottom: 0;
}

.flex svg {
	width: 40px !important;
	height: 40px !important;
	color: gray !important;
}

.card:hover .flex svg {
	color: var(--primary-color) !important;
}

@media (min-width: 768px) {
	.about {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.card:nth-child(1) {
		grid-column: 1 / 4;
	}

	.card:nth-child(3) {
		grid-column: 2 / 4;
	}

	.card:nth-child(4) {
		grid-column: 1 / 3;
	}

	.card:nth-child(6) {
		grid-column: 1 / 3;
	}
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
	.about {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.card:nth-child(3) {
		grid-column: 1 / 3;
	}

	.card:nth-child(4) {
		grid-column: 3 / 5;
	}

	.card:nth-child(6) {
		grid-column: 2 / 4;
	}
}

@media (min-width: 1536px) {
}
