@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root {
	--container-width: 100%;

	/* --bg-primary-color: 29, 29, 32; */
	--bg-primary-color: 18, 19, 23;
	/* --bg-secondary-color: rgb(46, 46, 51); */
	--bg-secondary-color: #191a1e;
	--text-title: rgb(46, 46, 51);
	--text-primary: 255, 255, 255;
	/* --text-secondary: #bdbdbd; */
	--text-secondary: #75777a;

	--box-shadow: none;
	--border: none;
	--white: #ffffff;
	--black: #000000;

	/* --primary-color: #5d5dff; */
	--primary-color: #258afe;
	/* --secondary-color: #ec857e; */
	--secondary-color: #aa26ff;
	--main: linear-gradient(
		to bottom right,
		#258afe -10.4%,
		#b69dd7 26.59%,
		#aa26ff 64.37%,
		#258afe 109.47%
	);
	/* --main: linear-gradient(to bottom right, #4b26cb, #ec857e); */
	/* --main: linear-gradient(
		to bottom right,
		rgba(2, 13, 46, 1),
		rgba(2, 5, 19, 1)
	); */

	--card-padding: 2rem;
	--card-border-radius: 1rem;
	--card-title-font-size: 22px;
	--card-desc-font-size: 20px;

	--contact-title: 32px;
	--about-getTouch: 40px;
	--project-desc: 40px;

	--blog-title: 36px;
}

::selection {
	color: var(--black);
	background-color: var(--white);
}

.dark:root {
	--bg-primary-color: 252, 250, 244;
	--bg-secondary-color: rgb(255, 255, 255);
	--text-title: grey;
	--text-primary: 0, 0, 0;
	--text-secondary: rgb(114, 114, 114);
	--box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05),
		0 12px 24px rgba(0, 0, 0, 0.05);
	--border: 1px solid #eaeaea;
	--white: #000000;
	--black: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	color: rgb(var(--text-primary));
	background: rgb(var(--bg-primary-color));
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	pointer-events: none;
}

.container {
	padding: 0 1.5rem;
	margin: 0 auto;
	width: 100%;
	max-width: var(--container-width);
}

#nprogress {
	z-index: 999;
}

/* SM */
@media (min-width: 640px) {
	:root {
		--container-width: 640px;
	}
}

/* MD */
@media (min-width: 768px) {
	:root {
		--contact-title: 34px;
		--card-title-font-size: 24px;
		--card-desc-font-size: 22px;

		--about-getTouch: 48px;

		--project-desc: 64px;

		--container-width: 768px;

		--blog-title: 60px;
	}
}

/* LG */
@media (min-width: 1024px) {
	:root {
		--container-width: 1024px;
	}
}

/* XL */
@media (min-width: 1280px) {
	:root {
		--contact-title: 40px;
		--card-title-font-size: 26px;

		--about-getTouch: 56px;

		--project-desc: 80px;

		--container-width: 1280px;
	}
}

/* 2XL */
@media (min-width: 1536px) {
	:root {
		--project-desc: 88px;
		--container-width: 1350px;
	}
}
