@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

:root {
	--primary-color: #258afe;
	--secondary-color: #aa26ff;
	--gradient: linear-gradient(
		to bottom right,
		#258afe -10.4%,
		#b69dd7 26.59%,
		#aa26ff 64.37%,
		#258afe 109.47%
	);
	--menu-BG: 255, 255, 255;

	--white: #ffffff;
	--black: #000000;
	--gray: #6e6e6e;
	--text-header: #808080;
	--text-RGB: 0, 0, 0;
	--bg-primary-RGB: 252, 250, 244;
	--bg-secondary: #ffffff;

	--shadow: 0 0 0 1px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05),
		0 12px 24px rgba(0, 0, 0, 0.05);
	--border: 1px solid #eaeaea;

	--padding: 2rem;
	--radius: 1rem;

	--card-title-font-size: 22px;
	--card-desc-font-size: 20px;
	--contact-title: 32px;
	--about-getTouch: 40px;
	--project-desc: 40px;
	--blog-title: 36px;
}

::selection {
	color: var(--white);
	background-color: var(--black);
}

[data-theme='dark'] {
	--menu-BG: 0, 0, 0;

	--white: #000000;
	--black: #ffffff;
	--gray: #828282;
	--text-header: #2e2e33;
	--text-RGB: 255, 255, 255;
	--bg-primary-RGB: 18, 19, 23;
	--bg-secondary: #191a1e;

	--shadow: none;
	--border: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	position: relative;
	width: 100%;
	min-width: 300px;
	color: rgb(var(--text-RGB));
	background: rgb(var(--bg-primary-RGB));
	text-rendering: optimizeLegibility;
	font-family: 'DM Sans', 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	pointer-events: none;
}

#nprogress {
	z-index: 999;
}

/* 
BREAKPOINTS:
SM: (min-width: 640px)
MD: (min-width: 768px)
LG: (min-width: 1024px)
XL: (min-width: 1280px)
XXL: (min-width: 1536px)
*/

/* MD */
@media (min-width: 768px) {
	:root {
		--contact-title: 34px;
		--card-title-font-size: 24px;
		--card-desc-font-size: 22px;
		--about-getTouch: 48px;
		--project-desc: 64px;
		--blog-title: 60px;
	}
}

/* XL */
@media (min-width: 1280px) {
	:root {
		--contact-title: 40px;
		--card-title-font-size: 26px;
		--about-getTouch: 56px;
		--project-desc: 80px;
	}
}

/* XXL */
@media (min-width: 1536px) {
	:root {
		--project-desc: 88px;
	}
}
