.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	overflow: hidden;
}

.card {
	padding: var(--card-padding);
	background: var(--bg-secondary);
	border-radius: var(--card-border-radius);
}

.card h1 {
	font-weight: 700;
	font-size: var(--card-title-font-size);
	letter-spacing: -1px;
}

.card p {
	margin-top: 1rem;
	font-size: var(--card-desc-font-size);
	color: gray;
	letter-spacing: -0.8px;
}

.quote {
	margin-top: 2rem;
	text-align: center;
	font-size: var(--card-desc-font-size);
	color: var(--primary-color);
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	gap: 2rem;
}

/* MD */
@media (min-width: 768px) {
	.links {
		flex-direction: row;
	}
}

/* LG */
@media (min-width: 1024px) {
	.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

/* XL */
@media (min-width: 1280px) {
}

/* 2XL */
@media (min-width: 1536px) {
}
