.main {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	position: relative;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.card {
	padding: var(--card-padding);
	background-color: var(--bg-secondary);
	border-radius: var(--card-border-radius);
	width: 100%;
}

.avatar {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.image {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
}

.image img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	z-index: 20;
}

.image::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffffff70;
	border-radius: 50%;
	filter: blur(5px);
	transition: opacity 0.5s;
	opacity: 0;
	z-index: 10;
}

.image:hover::after {
	opacity: 1;
}

.whatsUp {
	padding: 0.4rem 0.8rem;
	font-size: 13px;
	background-color: var(--secondary-color);
	border-radius: 1rem;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

.image:hover ~ .whatsUp {
	opacity: 1;
	visibility: visible;
}

.name {
	margin-bottom: 1rem;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -0.8px;
}

.work {
	font-size: var(--card-title-font-size);
	color: var(--secondary-color);
	letter-spacing: -1px;
}

.contacts {
	margin-top: 1rem;
	color: #bdbdbd;
}

.contacts h3 {
	font-size: var(--card-desc-font-size);
	letter-spacing: -0.8px;
	font-weight: 400;
}

.contactMe {
	margin-top: 1.5rem;
	padding: 0.4rem 0.8rem;
	display: block;
	width: max-content;
	font-size: 1rem;
	border: 1px solid #ffffff;
	border-radius: 2rem;
	transition: 0.3s;
}

.contactMe:hover {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.link {
	padding: 1rem 0;
	font-size: var(--card-desc-font-size);
	font-weight: 700;
	color: gray;
}

.linkDesc {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.linkDesc:hover {
	color: var(--primary-color);
}

.linkDesc svg {
	width: 40px;
	height: 40px;
}

.linkDesc h2 {
	font-size: var(--card-desc-font-size);
}

.contentItem {
	margin-bottom: 3rem;
}

.sectionItem {
	margin-bottom: 3rem;
}

.sectionItem h3 {
	margin-bottom: 0.5rem;
	font-size: var(--card-title-font-size);
	letter-spacing: -1px;
	color: var(--primary-color);
}

.sectionDescription {
	margin-top: 1rem;
	font-size: var(--card-title-font-size);
	letter-spacing: -1px;
	color: grey;
}

.sectionTimeline {
	font-size: 1rem;
	letter-spacing: -0.8px;
	color: rgb(190, 190, 190);
}

@media (min-width: 768px) {
	.cards {
		flex-direction: row;
	}
}

@media (min-width: 1280px) {
	.main {
		flex-direction: row;
	}

	.cards {
		top: 100px;
		left: 0;
		flex-direction: column;
		position: -webkit-sticky;
		position: sticky;
		height: max-content;
	}
}

@media (min-width: 1536px) {
	.card {
		min-width: 400px;
	}
}
