.main {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	position: relative;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.card {
	padding: var(--padding);
	width: 100%;
	border-radius: var(--radius);
	background-color: var(--bg-secondary);
	box-shadow: var(--shadow);
}

.card hr {
	color: var(--gray);
}

.avatar {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.avatarImg {
	position: relative;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	cursor: pointer;
}

.avatarImg img {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	z-index: 20;
}

.avatarImg::after {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: inherit;
	background-color: rgba(var(--text-RGB), 70%);
	filter: blur(5px);
	opacity: 0;
	z-index: 10;
	transition: opacity 0.5s;
}

.avatarImg:hover::after {
	opacity: 1;
}

.avatarMsg {
	padding: 0.4rem 0.8rem;
	font-size: 0.8rem;
	color: #ffffff;
	border-radius: 1rem;
	background-color: var(--secondary-color);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s;
}

.avatarImg:hover ~ .avatarMsg {
	opacity: 1;
	visibility: visible;
}

.sectionTitle {
	margin-bottom: 1rem;
	font-size: 1.75rem;
	font-weight: 700;
	letter-spacing: -0.8px;
}

.subTitle {
	font-size: var(--card-title-font-size);
	color: var(--secondary-color);
	letter-spacing: -1px;
}

.contact {
	margin-top: 1rem;
	color: var(--gray);
}

.contact > h3 {
	font-size: var(--card-desc-font-size);
	letter-spacing: -0.8px;
	font-weight: 400;
}

.contactButtons {
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.button {
	padding: 0.4rem 0.8rem;
	display: block;
	width: max-content;
	font-size: 1rem;
	border-radius: 2rem;
	border: 1px solid var(--black);
	transition: color 0.3s, border-color 0.3s;
}

.button:hover {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.link {
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--card-desc-font-size);
	font-weight: 700;
	color: var(--gray);
}

.link svg {
	width: 40px;
	height: 40px;
}

.link:hover {
	color: var(--primary-color);
}

.section {
	margin-bottom: 3rem;
}

.section ul {
	list-style-type: none;
}

.sectionItem {
	margin-bottom: 3rem;
}

.sectionItem h3 {
	margin-bottom: 0.5rem;
	font-size: var(--card-title-font-size);
	letter-spacing: -1px;
	color: var(--primary-color);
}

.sectionTimeline {
	font-size: 1rem;
	letter-spacing: -0.8px;
	color: var(--black);
}

.sectionDescription {
	margin-top: 1rem;
	font-size: var(--card-title-font-size);
	letter-spacing: -1px;
	color: var(--gray);
}

@media (min-width: 768px) {
	.cards {
		flex-direction: row;
	}
}

@media (min-width: 1280px) {
	.main {
		flex-direction: row;
	}

	.cards {
		flex-direction: column;
		position: sticky;
		position: -webkit-sticky;
		top: 100px;
		left: 0;
		height: max-content;
	}
}

@media (min-width: 1536px) {
	.card {
		min-width: 400px;
	}
}
