.returnButton {
	margin: 4rem auto;
	padding: 2rem 5rem;
	display: block;
	position: relative;
	width: max-content;
	font-size: var(--project-desc);
	letter-spacing: -3px;
	border-radius: var(--radius);
	background-color: var(--bg-secondary);
	box-shadow: var(--shadow);
}

.returnButton:hover {
	color: var(--primary-color);
}

.returnButton::after {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: var(--radius);
	background-color: var(--primary-color);
	filter: blur(10px);
	opacity: 0;
	z-index: -1;
	transition: opacity 0.5s;
}

.returnButton:hover::after {
	opacity: 0.7;
}
