.hero {
  position: relative;
  height: 100vh;
  margin-bottom: 8rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary {
  font-size: 2.8rem;
  font-weight: 700;
  background: var(--main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary::selection {
  -webkit-text-fill-color: var(--text-color);
}

.secondary {
  font-family: "Architects Daughter", cursive;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
}

.astronaut {
  max-width: 17rem;
  animation: astronaut 2s linear infinite alternate;
}

.astronaut img {
  width: 100%;
  height: 100%;
}

@keyframes astronaut {
  100% {
    transform: translateY(2rem);
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background: var(--main);
  border-radius: 1rem;
}

.links a {
  display: flex;
  align-items: center;
}

.links svg {
  width: 2rem;
  transition: scale 0.3s;
  color: white;
}

.links svg:hover {
  scale: 1.2;
}

/* .scrollDown {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  width: 1.5rem;
  height: 4rem;
  background: linear-gradient(to bottom right, rgb(93, 93, 255), darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

.scrollDownCircle {
  height: 1rem;
  width: 1rem;
  background: var(--text-gray);
  border-radius: 50%;
  animation: circleJump 1s infinite alternate-reverse;
}

@keyframes circleJump {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
} */

/* MD */
@media (min-width: 768px) {
  .flex {
    flex-direction: row;
  }

  /* .scrollDown {
    display: none;
  } */
}

/* LG */
@media (min-width: 1024px) {
  .primary {
    font-size: 3.7rem;
  }

  .secondary {
    font-size: 1.8rem;
  }

  .astronaut {
    max-width: 30rem;
  }
}

/* XL */
@media (min-width: 1280px) {
  .primary {
    font-size: 5rem;
  }

  .secondary {
    font-size: 2.5rem;
  }

  .astronaut {
    max-width: 40rem;
  }
}

/* 2XL */
@media (min-width: 1536px) {
}
