.group h2,
.list h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: var(--contact-title);
}

.list ul > li {
  margin: 0 0 0.4rem 3rem;
  font-size: var(--contact-subText);
  letter-spacing: -1px;
  color: gray;
}

.links {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.links img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(161deg)
    brightness(104%) contrast(102%);
}
