.wrapper {
	display: flex;
	position: relative;
}

.toggle {
	display: block;
	position: absolute;
	top: 8px;
	left: 20px;
	opacity: 0;
}

.toggle + label {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 29px;
	border-radius: 2rem;
	background: var(--bg-secondary);
	box-shadow: var(--shadow);
	cursor: pointer;
}

.toggle + label > .themeIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 5px;
	top: 2px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	transform: translateX(0);
	transition: transform 0.2s;
}

.toggle:checked + label > .themeIcon {
	transform: translateX(115%);
}

.themeIcon svg {
	width: 25px;
	height: 25px;
	color: rgb(226, 183, 43);
}
