.backButton {
	margin: 4rem auto;
	padding: 2rem 5rem;
	display: block;
	position: relative;
	width: max-content;
	font-size: var(--project-desc);
	letter-spacing: -3px;
	background-color: var(--bg-secondary);
	border-radius: var(--card-border-radius);
}

.backButton:hover {
	color: var(--primary-color);
}

.backButton::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--primary-color);
	border-radius: var(--card-border-radius);
	filter: blur(10px);
	opacity: 0;
	transition: 0.5s;
	z-index: -1;
}

.backButton:hover::after {
	opacity: 0.7;
}
