.backButton {
	margin: 4rem auto;
	padding: 2rem 5rem;
	display: block;
	position: relative;
	width: max-content;
	font-size: var(--project-desc);
	letter-spacing: -3px;
	background-color: var(--bg-secondary-color);
	border-radius: var(--card-border-radius);
	box-shadow: var(--box-shadow);
}

.backButton:hover {
	color: var(--primary-color);
}

.backButton::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--primary-color);
	border-radius: var(--card-border-radius);
	filter: blur(10px);
	opacity: 0;
	z-index: -1;
	transition: 0.5s;
}

.backButton:hover::after {
	opacity: 0.7;
}
