.card {
	position: relative;
	border-radius: 1rem;
	background-color: var(--bg-secondary-color);
	box-shadow: var(--box-shadow);
}

.card a {
	display: block;
	width: 100%;
	height: 100%;
}

.card svg {
	width: 40px;
	height: 40px;
	color: var(--text-gray);
}

.card:hover svg {
	color: var(--primary-color);
}

.card::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	background: var(--white-color);
	filter: blur(5px);
	opacity: 0;
	z-index: -1;
	transition: opacity 0.5s;
}

.card:hover::after,
.card:focus::after {
	opacity: 0.6;
}

.content {
	border-radius: inherit;
}

.content img {
	width: 100%;
	height: 220px;
	object-fit: cover;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	filter: brightness(60%);
	transition: filter 0.5s;
}

.card:hover .content img,
.card:focus .content img {
	filter: brightness(100%);
}

.info {
	padding: 1.5rem;
}

.info p {
	color: var(--text-gray);
	letter-spacing: -0.3px;
}

.type {
	padding: 0.2rem 0.5rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 0.2rem;
	color: var(--white);
	background: var(--primary-color);
	z-index: 10;
}

.title {
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title h2 {
	font-size: 28px;
	font-weight: 700;
	letter-spacing: -1px;
}
