.breadcrumb {
  padding: 1.3rem 0;
  margin-top: 68.2px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.8px;
  background-color: var(--bg-secondary);
}

.link {
  color: rgb(93, 93, 255);
}

.link:hover {
  text-decoration: underline;
}

.active {
  font-weight: 400;
  color: var(--text-color);
}

@media (min-width: 768px) {
  .breadcrumb {
    margin-top: 74.6px;
  }
}
