.nav {
  display: flex;
  width: 100%;
  top: 0;
  border-bottom: 1px solid var(--bg-secondary);
}

.fixed {
  padding: 0.6rem 1.5rem;
  align-items: center;
  position: fixed;
  background-color: rgba(29, 29, 32, 0.8);
  backdrop-filter: saturate(180%) blur(5px);
  z-index: 100;
  transform: translateY(0%);
}

.absolute {
  padding: 1.5rem;
  align-items: flex-end;
  position: absolute;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: none;
  z-index: auto;
}

.fixed.slideDown {
  animation: slideDown 0.4s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.blackBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s;
  pointer-events: none;
}

.blackBackground.active {
  opacity: 0.6;
  pointer-events: all;
}

.menu {
  padding: 0.5rem 2rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: calc(100vw - 30%);
  background: var(--bg-dark);
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 20;
}

.menu.active {
  transform: translateX(0);
}

.menuItems {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
  font-weight: 600;
  list-style-type: none;
}

.menuItemsLink {
  opacity: 0.6;
}

.menuItemsLink:hover {
  opacity: 1;
}

.menuItemsLink:last-child {
  opacity: 1;
}

.menuItemsLink.active {
  color: var(--text-blue);
  opacity: 1;
}

.menuItemsLink:last-child a {
  padding: 0.5rem 1rem;
  display: block;
  width: max-content;
  font-size: 1rem;
  background-color: var(--bg-secondary);
  border-radius: 2rem;
}

.menuItemsLink:last-child:hover a {
  background: var(--main);
}

.menuItemsLink:last-child.active {
  color: #ffffff;
}

.logo {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: var(--main);
  cursor: pointer;
  z-index: 10;
  transition: transform 0.4s;
}

.logo:hover {
  transform: rotate(20deg) scale(1.1);
}

.logoName {
  position: absolute;
  bottom: 0;
  right: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--bg-dark);
}

.burger {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.burger span {
  width: 100%;
  height: 0.2rem;
  border-radius: 1rem;
  background: var(--main);
  transition: 0.5s;
}

.burger.active span {
  background: var(--text-color);
}

.burger.active span:nth-child(1) {
  transform: rotate(-45deg) translateY(0.5rem) translateX(-0.5rem);
}

.burger.active span:nth-child(2) {
  transform: scaleX(0);
}

.burger.active span:nth-child(3) {
  transform: rotate(45deg) translateY(-0.6rem) translateX(-0.6rem);
}

/* MEDIUM */
@media (min-width: 768px) {
  .nav {
    padding: 0.8rem 2rem;
    justify-content: space-between;
  }

  .menu {
    padding: 0;
    position: unset;
    width: auto;
    height: auto;
    background: transparent;
    transform: none;
    transition: none;
  }

  .menu > .logo {
    display: none;
  }

  .menuItems {
    margin-top: 0;
    flex-direction: row;
    gap: 3rem;
  }

  .menuItemsLink {
    position: relative;
  }

  .burger {
    display: none;
  }
}

/* MD */
@media (min-width: 768px) {
}

/* LG */
@media (min-width: 1024px) {
}

/* XL */
@media (min-width: 1280px) {
}

/* 2XL */
@media (min-width: 1536px) {
}
