.nav {
  display: flex;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #333;
}

.fixed {
  padding: 0.6rem 1.5rem;
  align-items: center;
  position: fixed;
  background-color: #1d1d2080;
  backdrop-filter: saturate(180%) blur(10px);
  z-index: 100;
}

.absolute {
  padding: 1.5rem;
  align-items: flex-end;
  position: absolute;
  background-color: transparent;
  backdrop-filter: none;
  z-index: auto;
  height: 100vh;
}

.blackBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  z-index: 1;
  transition: opacity .5s;
  pointer-events: none;
}

.blackBackground.active {
  opacity: .6;
  pointer-events: all;
}

.menu {
  padding: 0.5rem 2rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 16rem;
  font-size: 1.4rem;
  font-weight: 700;
  background: var(--bg-secondary);
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 20;
}

.menu.active {
  transform: translateX(0);
}

.menuItems {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

.menuItemsLink:last-child {
  color: var(--text-blue);
}

.logo {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: var(--main);
  border-radius: .5rem;
  cursor: pointer;
  z-index: 10;
  transition: transform .4s;
}

.logo:hover {
  transform: rotate(10deg) scale(1.1);
}

.logoName {
  position: absolute;
  bottom: 0;
  right: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--bg-dark);
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  margin-left: auto;
  height: 2.5rem;
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.burger.active {
  z-index: 10;
}

.burger span {
  width: 100%;
  height: 0.35rem;
  background: var(--main);
  transition: all .4s;
}

.burger.active span {
  background: var(--text-color);
}

.burger.active > span:nth-child(1) {
  transform: rotate(-45deg) translateY(0.5rem) translateX(-0.5rem);
}

.burger.active > span:nth-child(2) {
  background: transparent;
}

.burger.active > span:nth-child(3) {
  transform: rotate(45deg) translateY(-0.6rem) translateX(-0.6rem);
}

/* MEDIUM */
@media (min-width: 768px) {
  .nav {
    justify-content: space-between;
    padding: 0.8rem 2rem;
  }

  .menu {
    padding: 0;
    flex-direction: row;
    align-items: center;
    position: unset;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    background: transparent;
    transform: none;
    transition: none;
  }

  .menu .logo {
    display: none;
  }

  .menuItems {
    margin-top: 0;
    flex-direction: row;
    gap: 3rem;
  }

  .menuItemsLink {
    position: relative;
  }

  .menuItemsLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.2rem;
    height: 0.2rem;
    width: 100%;
    background: var(--main);
    border-radius: 2rem;
    transform: scaleX(0);
    transition: transform .3s;
  }

  .menuItemsLink:hover::after {
    transform: scaleX(100%);
  }

  .burger {
    display: none;
  }
}

/* MD */
@media (min-width: 768px) {

}

/* LG */
@media (min-width: 1024px) {
  
}

/* XL */
@media (min-width: 1280px) {
  
}

/* 2XL */
@media (min-width: 1536px) {
  
}