.center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.spinner {
  display: inline-block;
  width: 44px;
  height: 44px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 44px;
  height: 44px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(93, 93, 255);
  border-color: rgb(93, 93, 255) transparent rgb(93, 93, 255) transparent;
  animation: animation 1.2s linear infinite;
}
@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}