.footer {
	margin-top: 2rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	height: 18rem;
	background: var(--main);
	overflow: hidden;
}

.waves {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 13rem;
}

.waves::before,
.waves::after {
	content: '';
	position: absolute;
	top: -100vw;
	left: 50%;
	width: 400vw;
	height: 400vw;
	border-radius: 48%;
	animation-name: boxRotation;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.waves::before {
	background: rgb(var(--bg-primary-color));
	animation-duration: 30s;
}

.waves::after {
	background-color: rgba(var(--bg-primary-color), 0.5);
	animation-duration: 60s;
}

@keyframes boxRotation {
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}

.content {
	margin: 0 1rem 1rem 1rem;
	position: relative;
	text-align: center;
	color: rgb(var(--bg-primary-color));
}

.content p:first-child {
	margin-bottom: 1.5rem;
	font-size: 1rem;
	letter-spacing: -1px;
}

.content p:last-child {
	margin-top: 1.5rem;
	font-size: 0.9rem;
	letter-spacing: -0.8px;
}

.icons {
	display: inline-flex;
	gap: 2rem;
}

.icons svg {
	width: 30px;
	height: 30px;
	color: rgb(var(--bg-primary-color));
	transform: scale(1);
	transition: transform 0.3s;
}

.icons svg:hover {
	transform: scale(1.2);
}

@media (min-width: 768px) {
	.waves {
		height: 11rem;
	}

	.waves::before,
	.waves::after {
		width: 390vw;
		height: 390vw;
	}
}

@media (min-width: 1024px) {
	.content p:first-child {
		margin-bottom: 2rem;
		font-size: 1.4rem;
	}

	.content p:last-child {
		margin-top: 2rem;
		font-size: 1rem;
	}
}

@media (min-width: 1280px) {
	.footer {
		height: 24rem;
	}

	.waves {
		height: 16rem;
	}

	.waves::before,
	.waves::after {
		width: 400vw;
		height: 400vw;
	}
}
