.footer {
	margin-top: 2rem;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: var(--main);
	position: relative;
	height: 18rem;
	overflow: hidden;
}

.waves {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 13rem;
	transition: 0.5s;
}

.waves::before,
.waves::after {
	content: '';
	position: absolute;
	width: 400vw;
	height: 400vw;
	top: -100vw;
	left: 50%;
}

.waves::before {
	border-radius: 48%;
	background: #1d1d20;
	animation: waves 30s linear infinite;
}

.waves::after {
	border-radius: 48%;
	background: #1d1d2080;
	animation: waves 60s linear infinite;
}

@keyframes waves {
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}

.content {
	margin: 0 1rem 1rem 1rem;
	text-align: center;
	position: relative;
	color: var(--bg-dark);
}

.content p:first-child {
	margin-bottom: 1.5rem;
	font-size: 1rem;
	letter-spacing: -1px;
}

.content p:last-child {
	margin-top: 1.5rem;
	letter-spacing: -0.8px;
	font-size: 0.9rem;
}

.icons {
	display: inline-flex;
	gap: 2rem;
}

.icons svg {
	color: var(--bg-dark);
	width: 30px;
	height: 30px;
	transition: 0.3s;
}

.icons svg:hover {
	transform: scale(1.2);
}

@media (min-width: 768px) {
	.waves {
		height: 11rem;
	}

	.waves::before,
	.waves::after {
		width: 390vw;
		height: 390vw;
	}
}

@media (min-width: 1024px) {
	.content p:first-child {
		margin-bottom: 2rem;
		font-size: 1.4rem;
	}

	.content p:last-child {
		margin-top: 2rem;
		font-size: 1rem;
	}
}

@media (min-width: 1280px) {
	.footer {
		height: 24rem;
	}

	.waves {
		height: 16rem;
	}

	.waves::before,
	.waves::after {
		width: 400vw;
		height: 400vw;
	}
}
