#nprogress {
  z-index: 999;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
}

.section {
  margin: 2rem auto;
}

.button {
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: var(--bg-secondary);
  border: none;
  opacity: 1;
  transition: opacity .3s;
  cursor: pointer;
}

.button.reset {
  text-transform: uppercase;
  color: #fe315c;
}

.button img {
  width: 1.25rem;
  height: 1.25rem;
}

.button:hover {
  opacity: .7;
}

.button.active {
  background: var(--main) !important;
  pointer-events: none;
}

.tagcloud {
  font-size: 1rem;
  letter-spacing: -1px;
  color: #FFFFFF;
}

@media (min-width: 640px) {
  
}

/* MD */
@media (min-width: 768px) {
  .section {
    margin-bottom: 8rem;
  }

  .breadcrumb {
    margin-top: 5rem;
  }

  /* .tagcloud {
    font-size: 1rem;
  } */
}

/* LG */
@media (min-width: 1024px) {
 
}

/* XL */
@media (min-width: 1280px) {
  
}

/* 2XL */
@media (min-width: 1536px) {

}
