.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.form label {
  display: block;
  width: max-content;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.form input,
.form textarea {
  padding: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  color: var(--text-color);
  background: var(--bg-secondary);
  border: 1px solid #4f4f50;
  border-radius: 0.2rem;
  resize: vertical;
}

.form input:focus,
.form textarea:focus {
  border-image-source: var(--main);
  border-image-slice: 1;
  outline: none;
}

.submit {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: block;
  font-weight: bold;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--main);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: filter .3s;
}

.image {
  display: none;
}

.submit:hover {
  filter: brightness(120%);
}

/* MD */
@media (min-width: 768px) {
 
}

/* LG */
@media (min-width: 1024px) {
  .flex {
    flex-direction: row;
    gap: 10rem;
  }

  .form {
    flex-grow: 1;
  }

  .image {
    display: block;
  }

  .image img {
    width: 100%;
    height: 100%;
  }

}

/* XL */
@media (min-width: 1280px) {

}

/* 2XL */
@media (min-width: 1536px) {

}