.title {
  font-size: var(--contact-info);
  font-weight: 400;
  color: gray;
}

.description {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: var(--project-desc);
  color: white;
  letter-spacing: -3px;
}

.stackUrl {
  font-weight: 700;
  color: var(--text-blue);
}

.stackUrl:hover {
  color: var(--text-color) !important;
}

.backButton {
  margin-top: 3rem;
}

/* MD */
@media (min-width: 768px) {
  
}

/* LG */
@media (min-width: 1024px) {
 
}

/* XL */
@media (min-width: 1280px) {
  
}

/* 2XL */
@media (min-width: 1536px) {

}