.title {
  margin-top: 2rem;
  font-size: var(--contact-info);
  font-weight: 400;
  color: gray;
}

.desc {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: var(--project-desc);
  color: white;
  letter-spacing: -3px;
}

.stackUrl {
  font-weight: 700;
  color: var(--text-blue);
}

.stackUrl:hover {
  color: var(--text-color) !important;
}

.backButton {
  margin-top: 3rem;
}
