.description {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 4rem;
}

/* MD */
@media (min-width: 768px) {
}

/* LG */
@media (min-width: 1024px) {
  
}

/* XL */
@media (min-width: 1280px) {
  .description {
    font-size: 1rem;
  }
}

/* 2XL */
@media (min-width: 1536px) {
  
}