.header {
  margin: 2rem 0;
}

.title {
  margin-bottom: .5rem;
  font-size: 2.5rem;
  font-weight: 900;
  /* color: var(--theme-primary); */
  background: linear-gradient(to bottom, var(--theme-primary), var(--theme-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.iframe {
  margin: 2rem 0;
  width: 100%;
  height: 500px;
  border: .15rem solid var(--text-color);
  border-radius: .5rem;
  overflow: hidden;
}

.stackUrl {
  font-weight: 700;
  text-decoration: underline !important;
  color: cyan !important;
}

.stackUrl:hover {
  color: var(--text-color) !important;
}

/* MD */
@media (min-width: 768px) {
  
}

/* LG */
@media (min-width: 1024px) {
 
}

/* XL */
@media (min-width: 1280px) {
  .description {
    font-size: 1.1rem;
  }
}

/* 2XL */
@media (min-width: 1536px) {

}