.title {
  width: max-content;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.titleMain {
  display: inline;
  font-size: 2.5rem;
  font-family: 'Architects Daughter', cursive;
  color: var(--text-blue);
}

.section {
  margin-top: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 3rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.card { 
  background: var(--bg-secondary);
}

.cardDescription {
  padding: 1.3rem;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.6rem;
  color: var(--text-color);
}

.cardQuote {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-family: 'Architects Daughter', cursive;
  color: var(--text-blue);
}

.links {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1.5rem;
}

.aboutImg {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.graphics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technologies {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.technologies img {
  width: 1.7rem;
  height: 1.7rem;
  transition: transform .2s;
}

.technologies img:hover {
  transform: scale(1.2);
}

/* MD */
@media (min-width: 768px) {
  .cardDescription {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  
  .cardQuote {
    font-size: 1.2rem;
  }

  .links {
    flex-direction: row;
  }

  .technologies svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .aboutImg {
    width: 70%;
  }
}

/* LG */
@media (min-width: 1024px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    max-width: 40%;
  }

  .cardQuote {
    margin-top: 1rem;
  }
}

/* XL */
@media (min-width: 1280px) {
  .aboutImg {
    width: 60%;
  }
}

/* 2XL */
@media (min-width: 1536px) {

}